body {
     font-family: "Classic Console";
    font-size:14px;
    width: 100%;
    height: 100%;
    background: #333;

}

body,html , div,canvas {
    margin: 0;
    padding: 0;
}

#wrapper {
    position: relative;
    margin: 20px auto;
    margin-bottom: 20px;
    position: relative;
    outline: #666 solid 5px;
}

canvas {
    background:none;
    z-index:1;
    position: absolute;
    top: 0px;
    left: 0px;
    width:100%;
    height: 100%;
}

canvas {
  image-rendering: -webkit-optimize-contrast;
  image-rendering: optimize-contrast;
}
.links {
  margin: 0 auto;
  width: 500px;
  text-align: center;
  margin-bottom: 20px;
}
.links a {
  color: #eee;
  font-size: 16px;
  font-family: Arial;
  margin: 0 20px;
}

.popup {
  width: 360px;
  margin-left: -180px;
  position: absolute;
  top: 100px;
  left: 50%;
  background: #eee;
  border-radius: 3px;
  z-index: 10;
  min-height: 200px;
  padding: 10px;
  box-sizing: border-box;
}

.popup textarea {
  text-transform: uppercase;
  width: 100%;
  margin: 0;
  padding: 5px;
  box-sizing: border-box;
  height: 250px;
  font-size: 16px;
  font-family: "Courier New";
  outline: none;
}

.popup button {
  float: right;
  font-size: 14px;
  margin-left: 5px;
}

img {
    display: none;
}
